@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        background: #7f7fd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logoTT {
    border-radius: 50%;
    margin-right: 10px;
    align-content: flex-end;
}
.brandTT {
    font-weight: 300;
    font-style: oblique;
}
.navTT {
    font-size: larger;
    align-content: flex-end;
}
/* GALERIAS */
.galeria {
    display: grid;
    /* overflow: hidden; */
    /* margin-right:  -1rem; */
    gap: 1rem;
    /* grid-auto-columns: 5rem; */
    /* grid-auto-flow: column; */
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(grid-auto-columns, minmax(15rem, 1fr));
    min-width: 12rem;
}
.especial {
    grid-column: span 2;
}